<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Игровая платформа"</title>
</head>
<body>
<!--    <h1>"ИГРОВАЯ ПЛАТФОРМА"</h1>-->

<!--    <<a><button>Главная</button></a>-->
<!--    <a href="#">Заглушка</a>-->
<!--    <p><button>Магазин</button></p>-->
<!--    <a href="http://127.0.0.1:8000/mag">Game</a>-->
<!--    <p><button> Корзина </button></p>-->
<!--    <a href="http://127.0.0.1:8000/car">http://127.0.0.1:8000/car</a>-->

    <h1>Главная страница</h1>
    <h3><a href="#">Главная</a></h3>
    <h3><a href="http://127.0.0.1:8000/games/">Магазин</a></h3>
    <h2><a href="http://127.0.0.1:8000/cart/">Корзина</a></h2>





</body>
</html>
