<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        {% block pagename %}

        <h1>Название страницы</h1>
        {% endblock %}
    </header>

    <nav>
        {% block menu %}
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/django_sign_up/">Регистрация покупателя</a></li>
            <li><a href="/games/">Магазин</a></li>
            <li><a href="/cart/">Корзина</a></li>
        </ul>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        <p>Содержание страницы</p>
        {% endblock %}
    </main>
</body>
</html>